<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="/style.css"/>
     
</head>
<body>
     <h1> LET POST!</h1>
<% for(post of posts){%>
     <div class="post">
          <h3 class="user">
               @<%=post.username%></h3>
          <h4 class="cont"><%=post.content%></h4>
          
       <button style="background-color:rgb(243, 142, 40) ;">  <a href="http://localhost:8080/posts/<%= post.id%>">see in details</a></button>
       <br>
          <button style="background-color: aliceblue; border-radius: 50%;">    <a href="http://localhost:8080/posts/<%= post.id%>/edit">edit</a></button>
     
          <form method="post" action="/posts/<%=post.id %>?_method=DELETE">
               
          <button style="background-color: green;">delet</button>
     </form>
          </div>
<%}%>
<br>
<button style="background-color: chartreuse;"> <a href="http://localhost:8080/posts/new"> Create new post</a></button>
</body>
</html>